<article>
  <div class="container text-center">
    <h1>
      <i class="fa fa-caret-left"></i>
      {{ today.monthText }} {{ today.day }} {{ today.year }}
      <i class="fa fa-caret-right"></i>
    </h1>
    <h2 id="clock"></h2>
    <h3> Daily mode</h3>
  </div>

  <section class="container bg-blue">
    <div class="row">
      <h3 class="bg-primary" style="padding: 1%;">Fortnight</h3>


      <div class="row" *ngIf="schedule$ as result">

        <div *ngFor="let fn of fortnights$; let i = index" class="col-md-12 col-sm-12 col-12" style="margin: 2% 0">

          <div class="col-md-2 col-sm-2 col-3" style="float: left">
            <img [src]="fn.tinyImg" alt="tiny Image" class="img-fluid">

            <div [ngSwitch]="fn.bonus" style="margin-bottom: 10px">
              <div *ngSwitchCase="1">
                <img src="assets/images/special/dropX2.png" alt="drop x2" class="img-fluid">
              </div>
              <div *ngSwitchCase="2">
                <img src="assets/images/special/expX2.png" alt="exp x2" class="img-fluid">
              </div>
              <div *ngSwitchCase="3">
                <img src="assets/images/special/stax0.5.png" alt="sta x0.5" class="img-fluid">
              </div>
              <div *ngSwitchCase="4">
                <img src="assets/images/special/berriesx2.png" alt="berries x2" class="img-fluid">
              </div>
            </div>

            <button class="btn btn-outline-light">Nakama Network</button>
            <!--<p>{{fn.bonus}}</p>-->

          </div>

          <div class="col-md-10 col-sm-10 col-9" style="float: right; margin-bottom: 20px">

            <h4 class="">{{ fn.title }}</h4>

            <p *ngIf="fn.conditions != 'NULL'; else other_content" class="text-justify">{{ fn.conditions }}</p>
            <ng-template #other_content>
              <p class="text-justify">No conditions available for this fortnight.</p>
            </ng-template>

            <!--<h1>{{imageUrl(fn.drops[0])}}</h1>-->
            <div *ngIf="fn.drops.length > 0" class="col-md-12" style="float: left">
              <h5>Drops</h5>
              <div *ngFor="let drop of fn.drops">
                <!--<div [style.background-image]="imageUrl(drop)" class="inline image-div" style=""></div>-->
                <a href="http://optc-db.github.io/characters/#/view/{{drop}}">
                  <img [src]="imageUrl(drop)" alt="drop id {{drop}}" class="inline image-div">
                </a>
              </div>
            </div>

            <div *ngIf="fn.books != NULL" class="col-md-12" style="float: left">
              <h5>Books</h5>
              <div *ngFor="let book of fn.books">
                <a *ngIf="book.only_jap === book.only_global || book.only_jap === 1" href="http://optc-db.github.io/characters/#/view/{{book.charact}}">
                  <img [src]="imageUrl(book.charact)" alt="book id {{book.charact}}" class="inline image-div">
                </a>
              </div>
            </div>

          </div>
          <hr/>
        </div>
      </div>
    </div>

    <div class="row">
      <h3 class="bg-primary">Raid</h3>
      <div class="col-md-12">
        <h4>Titolo Raid 1</h4>
      </div>
      <div class="col-md-12">
        <h4>Titolo Raid 2</h4>
      </div>
    </div>

    <div class="row">
      <h3 class="bg-primary">Colosseum</h3>
      <div class="col-md-12">
        <h4>Titolo Colosseum 1</h4>
      </div>
      <div class="col-md-12">
        <h4>Titolo Colosseum 2</h4>
      </div>
    </div>
  </section>

</article>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>-->


