img.inline {
  float: left;
}
.image-div {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  max-width: 64px;
  max-height: 64px;
  width: 80px;
  height: 80px;
}

.image-div:hover {
  border-color: red;
  border-style: solid;
}

hr {
  border-color: darkslateblue;
  clear: both;
  padding-left: 16px;
  border-top: 2px solid;
  display: block;
}

.btn {
  white-space: normal!important;
}

#fn-row hr:last-of-type {
  display: none;
}

.fa.fa-caret-right:hover, .fa.fa-caret-left:hover {
  color: red;
}

.custom-alert {
  position: relative;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

section.container h4, section.container h5 {
  color: #FFA500;
}

section.container p {
  color: white;
}

#fn-row {
  margin-left: 0!important;
  margin-right: 0!important;
}
