<!--<div class="container-fluid bg-blue" style="margin-top: 5%">
  <div class="row col-12 text-center">
      <h5>Powered by Ibbus - Contact the webmaster</h5>
      <h6>Disclaimer:  own content <br/></h6>
      &lt;!&ndash;Privacy and Cookie policy&ndash;&gt;
  </div>
</div>-->

<footer class="text-center bg-blue" style="margin-top: 5%; padding: 1%">
  <p>
    Powered by <a href="https://github.com/Ibbus93" target="_blank" class="text-light">Ibbus</a> -
    <a href="mailto:ibbus93@gmail.com" class="text-warning">Contact the webmaster</a><br/>

    Optc Calendar doesn't own any of the content showed in the website.
    Every content is owned by Eiichiro Oda/Shueisha, Toei Animation and Bandai Namco<br/>
    Cookie and Privacy policy
  </p>
</footer>
