/* You can add global styles to this file, and also import other style files */

/* HEADER NAVBAR COLOR */
.bg-blue {
  background-color: rgb(24, 109, 173);
}

/* SECTION */

section h3 {
  width: 100%;
  padding-left: 5px;
}

body {
  position: relative;
}
